.cardSignUp{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.173);
    border-radius: 16px;
    padding: 15px;
    background-color: white;
}

.h4SignUp{
    font-size: 1.6rem;
    text-align: center;
}

.containerSignUP{
    margin-top: 30px;
}

.callToActionSignUp{
    
    margin-top: 20px;
    margin: auto;
}