.hero{
    /* background-image: url(../../../public/img/bridge-4636745_1920.jpg); */
    background: linear-gradient(160deg, #e10f244a 0%, #e8900d3a 100%), url(../../../public/img/lighthouse.jpg) no-repeat center center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -70px;
    z-index: -10;
}

@media (max-width: 480px) {
h1 {
    font-size: 1.5rem !important;
}
}

/* background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */


h1{
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 40px;
    text-align: center;
    margin: 10px;
}

