.father{
    width: 100vw;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.cardbody{
    height: 400px;
    width: 300px;
    border-radius: 16px;
    background-color: rgb(194, 194, 194);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileimg{
    height: 40px;
    border-radius: 360px;
}

.textarea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}