.cities{
    margin: 1%;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 5%;
}

.right{
    height: 100vh;
}

