.heroCity{
    /* background-image: url(../../../public/img/bridge-4636745_1920.jpg); */
    background: linear-gradient(160deg, #0000008a 0%, #0b50b687 100%), url(../../../public/img/sanfrancisco.jpg) no-repeat center center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -70px;
    z-index: -10;
}

@media (max-width: 480px) {
h2 {
    font-size: 1.5rem !important;
}
h3{
    font-size: 0.9rem !important;
}
}

/* background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */


.tittleh2{
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 40px;
    text-align: center;
    margin: 10px;
}

.tittleh3{
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 30px;
    text-align: center;
    margin: 10px;
}

