.boxcont{
    background-color: rgb(0, 0, 0);
    
}

.tittle{
    font-size: 1.5rem;
}

.quicklinks{
    
    display: flex;
    flex-direction: column;
    
}

.links{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 8px;

}

