.cardwrapperCity{
    width: 90%;
    margin: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;

}

.cardbodyCity{
    width: 500px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    margin: 2%;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.091);
}

.imgcardBody{
    width: 500px;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
    
}

.cardCityTextDisplay{
    display: flex;
    
}

@media (max-width: 768px){

    .cardCityTextDisplay{
        display: block;
    }

.cardbodyCity{
    width: 300px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    margin: 4%;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.091);
}

.imgcardBody{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
    
}
.h3titlecardCity{
    font-size: 1.5rem !important;
}
}

.h3titlecardCity{
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.reviewcardCity{
    width: 80%;
    margin: auto;
    font-style: italic;
    font-size: 1rem;
}

.cardtextCity{
    width: 80%;
    margin: auto;
}

.iconCity{
    display: flex;
    align-items: center;
    margin: 1.5%;
}

.reviewcardCity{
    width: 90%;
    margin: auto;
    margin-top: 4%;
}

.inputSearch{
    margin: 40px;
}

.positionCard{
    display: flex;
    flex-direction: column;
    margin: 3%;
}

.positionCardCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btnCardCities{
    z-index: 3;
    display: flex;
    justify-content: flex-end;
    margin-top: 8%;
    margin-right: 4%;
}