

.wrapperActivity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h5Activity{
    color: white;
    background-color: black;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}