.nav{
    text-decoration: none;
    color: white;
    margin: 3px 12px 3px 12px;
}

.navMob{
    text-decoration: none;
    color: black;
    margin: 3px 12px 3px 12px;
}

.hola{
    background-color: rgba(0, 0, 0, 0.262) !important;
    border-radius: 8px;
}

